@font-face {
    font-family: roboto;
    src: url(./fonts/Roboto-VariableFont_wdth\,wght.ttf);
}


:root{
    --egg: #fcfaf8;
    --light-black: #202020;
    --dark-blue: rgb(74, 102, 226);
    --blue: rgb(159, 157, 186);
    --light-gary:rgb(218, 215, 215);
    --top-priority: rgb(251, 6, 6);
    --med-priority: rgb(248, 161, 1);
    --low-priority: rgb(242, 202, 126);


    --padding-sidebar: 60px 60px;
    --padding-button:10px 10px;
    --padding-show: 40px 40px;
    --min-gap: 7px;
    --max-gap: 35px;
    --inline-gap: 0.5rem;
    
    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    font-family: roboto;
}

.all{
    display: grid;
    grid-template: 1fr / clamp(260px, 25%, 400px)  1fr;
    min-height: 100%;
}

.sidebar{
    background-color: var(--egg);
    color: var(--light-black);

    display: flex;
    flex-direction: column;
    font-family: roboto;
    gap: var(--max-gap);
    padding: var(--padding-sidebar);
    font-size: 1rem;
    
}

.user a{
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: var(--inline-gap);
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--blue);
}

.sidebar button{
    border: none;
    background-color: inherit;
    font-size: inherit;
    display: flex;
    align-items: center;
    gap: var(--inline-gap);
    white-space: nowrap;
    cursor: pointer;
    padding: var(--padding-button);
    min-width: 0;
    flex-shrink: 1;
    border-radius: 10px;
    margin: 0px;
}

.tag button:not(#add-task):hover{
    background-color: var(--light-gary);
}

.projects button:not(#add-project):hover{
    background-color: var(--light-gary);
}

.add{
    color: var(--dark-blue);
    font-weight: 700;
}

.size-3{
    height: 1.5rem;
    width: 1.5rem;
    flex-shrink: 0;
}

.tag{
    display: flex;
    flex-direction: column;
    gap: var(--min-gap);
}


.projects{
    display: flex;
    flex-direction: column;
    gap: var(--min-gap);
}


.project-items:focus{
    background-color: var(--light-gary);
}

.tag-items:focus{
    color: var(--dark-blue);
}


/* show section */


.show{
    padding: var(--padding-show) ;
    display: flex;
    flex-direction: column;
}



.project {
    display: flex;
    flex-direction: column;
}
  
.project > * {
    
    padding-bottom: var(--min-gap);
}

.task {
    border-bottom: 1px solid var(--light-gary);
    margin-bottom: 5px;

}


.task > p:not(.title){
    color: var(--dark-blue);
    margin: 5px 30px;
    font-weight: 300;
    font-size: 0.7rem;
}


.title {
    display: flex;
    align-items: center;
    gap: var(--min-gap);
    font-weight: 400;
    font-size: 1rem;
}

.title-task {
    display:  flex;
    align-items: center;
    max-height: 30px;
    gap: var(--min-gap);
    cursor: pointer;
}

.title-task input[type=checkbox]{
    cursor: pointer;
    accent-color: var(--dark-blue);
}

.high {
    border: 1px solid var(--top-priority);
    background-color: var(--top-priority);
    border-radius: 100%;
    width: 1ch;
    height: 1ch;
}

.med {
    border: 1px solid var(--med-priority);
    background-color: var(--med-priority);
    border-radius: 100%;
    width: 1ch;
    height: 1ch;
}

.low {
    border: 1px solid var(--low-priority);
    background-color: var(--low-priority);
    border-radius: 100%;
    width: 1ch;
    height: 1ch;
}


.task-explain{
    color: var(--light-black) !important;
    display: none;
}

.task:hover > .task-explain{
    display: block;
}

.task.completed {
    background-color: #d0ffd0;
    text-decoration: line-through;
    border-radius: 10px;
    opacity: 0.8;
}

.title-task-p {
    font-size: 0.8rem;
}










@media (max-width:1200px) {
    :root {
      --padding-sidebar: 20px 20px;
      --padding-button: 6px 6px;
      --min-gap: 4px;
      --max-gap: 15px;
    }
}